@model IEnumerable<Biodent.Models.ServiceModel>

@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">

        <div class="card">
            <!--Header Button Region-->
            <div class="card-header">
                <div class="col-md-2">
                    @Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-primary" })
                </div>

            </div>
            <!-- /.card-header -->
            <div class="card-body">

                <table id="example1" class="table table-sm table-hover" role="grid" aria-describedby="example1_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 50.55px;" aria-label="Browser: activate to sort column ascending">
                                ServiceType
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 100.55px;" aria-label="Browser: activate to sort column ascending">
                                Service Header
                            </th>
                            <th class="sorting_asc_disabled sorting_desc_disabled" tabindex="0" rowspan="1" colspan="1" style="width: 50.267px;" aria-label="CSS grade: activate to sort column ascending">
                                Service Description
                            </th>

                            <th class="sorting_asc_disabled sorting_desc_disabled" tabindex="0" rowspan="1" colspan="1" style="width: 50.267px;" aria-label="CSS grade: activate to sort column ascending">
                                Service Price
                            </th>
                            <th class="sorting_asc_disabled sorting_desc_disabled" tabindex="0" rowspan="1" colspan="1" style="width: 50.267px;" aria-label="CSS grade: activate to sort column ascending">
                                Service Image
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr role="row" class="odd">
                                <td class="sorting_1">
                                    @Html.DisplayFor(modelItem => item.ServiceType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ServiceHeader)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ServiceDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ServicePrice)
                                </td>

                                <td class="dtBtnPosition">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ServiceId }, new { @class = "btn btn-primary" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ServiceId }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
