@model IEnumerable<Biodent.Models.UsersModel>

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">

        <div class="card">
            <!-- /.card-header -->
            <div class="card-body p-0">
                <table class="table table-sm">
                    <thead>
                        <tr role="row">
                            <th class="sorting">
                                Clinic Name
                            </th>
                            <th class="sorting">
                                Email
                            </th>

                            <th>
                                Phone
                            </th>
                            <th>
                                Region Name
                            </th>
                            <th>
                                Address
                            </th>

                            <th>
                                Action
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr role="row" class="odd">
                                <td class="sorting_1">@Html.DisplayFor(modelItem => item.UsersName)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RegionName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td class="dtBtnPosition">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.UsersID }, new { @class = "btn btn-primary fas fa-edit" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.UsersID }, new { @class = "btn btn-danger fas fa-times-circle" })
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <!-- /.card -->
            <!-- /.col -->
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="~/Scripts/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/Scripts/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="~/Scripts/plugins/datatables/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        //$("#example1").DataTable().fnDestroy();
        $("#example2").dataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            destroy: true,
            //paging:false,
            //columnDefs: [
            //    {
            //        targets: [3],
            //        render: function (data, type, row) {
            //            //return data == '1' ? 'free' : 'paid'
            //            switch (data) {
            //                case "1": return 'SuperUser'; break;
            //                case "2": return 'Public'; break;
            //                case "3": return 'Admin'; break;
            //                case "4": return 'Verification Officer'; break;
            //                case "5": return 'Enrollment Officer'; break;
            //                default: return 'N/A';
            //            }
            //        }
            //    }
            //],

        });
    });
</script>