@model IEnumerable<Biodent.Models.PayMethodModel>

@{
    ViewBag.Title = "Pay Method";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header">
                <div class="col-md-2">
                    @Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-primary" })
                </div>

            </div>
            <!--/.Header Button Region-->
            <!-- /.card-header -->
            <div class="card-body">

                <table id="example1" class="table table-sm table-hover dataTable" role="grid" aria-describedby="example1_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 50.55px;" aria-label="Browser: activate to sort column ascending">
                                Icon
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 100.55px;" aria-label="Browser: activate to sort column ascending">
                                Pay Method Name
                            </th>
                            <th class="sorting_asc_disabled sorting_desc_disabled" tabindex="0" rowspan="1" colspan="1" style="width: 50.267px;" aria-label="CSS grade: activate to sort column ascending">
                                Action
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr role="row" class="odd">
                                <td class="sorting_1">@Html.DisplayFor(modelItem =>item.PayMethodName)</td>
                                <td>@Html.DisplayFor(modelItem => item.PayMethodName)</td>

                                <td class="dtBtnPosition">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.PayMethodId }, new { @class = "btn btn-primary" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.PayMethodId }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->